.grid {
  padding: 12px;
  display: grid;

  grid-template-columns: 120px auto;
  grid-auto-rows: 1fr;
  gap: 12px;
}

.table {
  display: grid;
  grid-template-columns: 60px auto;
  gap: 12px;
}

button {
  height: 40px;
  width: 100%;
  place-self: center;
}

.center {
  place-self: center start;
}
